<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <BTool.Properties.Settings>
            <setting name="ComPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Flow" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="AttributesAutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BTool_State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="BTool_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BTool_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormMain_LeftRightSplitPercent" serializeAs="String">
                <value>0.19</value>
            </setting>
            <setting name="DeviceForm_TopBottomSplitPercent" serializeAs="String">
                <value>0.785</value>
            </setting>
            <setting name="DeviceForm_TopLeftRightSplitPercent" serializeAs="String">
                <value>0.54</value>
            </setting>
            <setting name="Connection_MinInterval" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Connection_MaxInterval" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Connection_SlaveLatency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Connection_SupervisionTimeout" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="AttrForm_ConnectionHandle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttrForm_Handle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttrForm_Uuid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttrForm_UuidDesc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttrForm_Value" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttrForm_ValueDesc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttrForm_Properties" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstTimeStart_Upgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstTimeStart_UserSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Log_FileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AttrForm_FileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LongTermKey_FileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="RtbMsgBox_AutoScrollLock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFile_FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFile_Directory" serializeAs="String">
                <value />
            </setting>
        </BTool.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
